<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>API_KEY</key>
    <string>AIzaSyDyCaS2JRbcDdkkZfPHEsDK-LTORyR-V7Q</string>
    
    <key>GCM_SENDER_ID</key>
    <string>768990210333</string>
    
    <key>PLIST_VERSION</key>
    <string>1</string>
    
    <key>BUNDLE_ID</key>
    <string>com.example.healthlog</string>
    
    <key>PROJECT_ID</key>
    <string>healthlog-6fbbf</string>
    
    <key>STORAGE_BUCKET</key>
    <string>healthlog-6fbbf.appspot.com</string>
    
    <key>IS_ADS_ENABLED</key>
    <false/>
    
    <key>IS_ANALYTICS_ENABLED</key>
    <false/>
    
    <key>IS_APPINVITE_ENABLED</key>
    <true/>
    
    <key>IS_GCM_ENABLED</key>
    <true/>
    
    <key>IS_SIGNIN_ENABLED</key>
    <true/>
    
    <key>GOOGLE_APP_ID</key>
    <string>1:768990210333:ios:d1193f64c8f20d981d59f4</string>
</dict>
</plist>
