**/*.dart_tool/
**/*.flutter-plugins-dependencies/
**/*.idea/
**/*.packages
**/build/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Pods/
**/ios/.symlinks/
**/ios/profile
**/ios/xcuserdata
**/ios/.generated/
**/android/app/build/
**/android/build/
**/android/.gradle/
**/android/.idea/
**/android/.cxx/
**.android/
**.dart_tool/
**.flutter-plugins-dependencies/
**.flutter/
**.github/
**.pub-cache/
**.sync/
**.vscode/
.dart_tool/
.flutter-plugins-dependencies/
.flutter/
.github/
.pub-cache/
.sync/
.vscode/
Flutter/App.framework
Flutter/Flutter.framework
Flutter/Flutter.podspec
Flutter/Generated.xcconfig
Flutter/ephemeral/
Flutter/app.flx
Flutter/app.zip
Flutter/flutter_assets/
Flutter/flutter_export_environment.sh
ServiceDefinitions.json

# Exceptions to above rules.
!**/ios/Runner/GeneratedPluginRegistrant.*
!**.mode1v3
!**.mode2v
